<!DOCTYPE html>
<html>
<head>
    <title>Strona Główna</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <div class="container text-center">
        <h1>Wybierz formularz</h1>
        <ul class="list-unstyled">
            <li><a href="{% url 'process_text' %}">Przetwarzanie pliku tekstowego</a></li>
            <li><a href="{% url 'pesel' %}">Walidacja numeru PESEL</a></li>
        </ul>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>